@keyframes blanc {
    from {
        height: 0px;
        width: 0px;
        opacity: 0%;
        display: none;
        background: none;
    }
    to {
        background: none;
        display: none;
        opacity: 0%;
        height: 0px;
        width: 0px;
    }
}
.none{
    animation-name: blanc;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    background: none;
}
