*{
    overflow: hidden;
    margin: 0;
    padding: 0;

}
#start{
    position: fixed;
    top: 10vh;
}
#game{
    background-color: bisque;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}
#fondo{
    background-image: url(/imgHud/Room0.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 80%;
    width: 100%;

}
#botones{
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 20vh;
    justify-content: center;
    top: 5vh;
}
#texto{
    display: flex;
    height: 9vh;
    position: relative;
    justify-self: center;
}